.wholepage{
    background-color:white;
}

/* Quote section*/
.mainQuote{
    display: flex;
    flex-direction: row;
    align-content:space-between ;
    margin-top: 5rem;
    align-items:flex-end;
    width:100%;
}
/* Words */
.quote{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 810px;
    gap: 2rem;
    margin-left: 40px;
    justify-content: center;
}
.quoteFirst{
    font-size: 45px;
    min-width: 810px;
}
.quoteSecond{
    color: gray;
    font-size: 30px;
}
.employee{
    display:flex;
    height: 45%;
}

/*Reasons Section */
.reasons{
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
    width:100%;
}
/* Our Advantages*/
h1{
    display: flex;
    font-size: 50px;
    justify-content:center;
    align-items:center;
    color:black;
}

.advantage-container{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    width:100%;
}

.advantage{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    height:400px;
    gap:1rem;
}
.icon {
    display: flex;
    width:80px;
    height:auto;
  }
/*Labels*/
h3 {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/*Labels Description*/
  p {
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Best Sellers*/
  .best-sellers{
    display:flex;
    width:100%;
    height:1000px;
    justify-content:center;
    background-image:url(assets/best-sellers/best-sellers1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    gap:2rem;
  }

  h2{
    display: flex;
    font-size: 50px;
    justify-content:center;
    align-items:center;
    color:black;
}