/* Web Development:Coffee Cube Final Website */
.wholepage {
    background-color: white;
    font-family: sans-serif;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 200px;
}
/*Order Button*/
.order-now {
    background-color: #284d33;
    color: white;
    width:fit-content;
    font-size:50px;
    text-decoration:none;
    border-radius:5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.order-now:hover {
    background-color: white;
    color:#284d33;
}
/*Menu icon*/
.ph.ph-list{
    font-size:3rem;
    color:rgb(129, 62, 62);
    display:flex;
    text-decoration: none;
    justify-content:center;
    transition: color .3s ease;
}
.ph.ph-list:hover{
    color:#284d33;
}

/* Banner Section */
.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f1eb;
    gap: 2rem;
}
/*Text Section on Home Page*/
.text-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-section h5, 
.text-section h1 {
    color: #284d33;
    line-height: 1.4;
}
.text-section h5 {
    font-size: 80px;
    font-weight: normal;
}
.text-section h1 {
    font-size: 80px;
    font-weight: bold;
}
.text-section .directions {
    background-color: #284d33;
    font-size: 70px;
    width: fit-content;
    text-decoration:none;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.text-section .directions:hover {
    background-color: white;
    color: #3e784f;
}
/*Home Screen Image*/
.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-pic {
    display:flex;
    width: 100%;
    height: 100%;
}

/* Our Story Section */
.ourStory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    background-color: #284d33;
}
.story {
    text-align: center;
    max-width: 100%;
}
.story h1 {
    font-size: 50px;
    color: #f5f1eb;
}
.story p {
    font-size: 36px;
    line-height: 1.6;
    color: #f5f1eb;
}
/*Grid-like section of photos*/
.story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
}
.story-column1, 
.story-column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}
.story-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Quote Section */
.mainQuote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
.quote {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
/*Quotation marks start*/
.quoteFirst::before {
    font-size: 45px;
    color: #284d33;
    content: '"';
}
.quoteFirst {
    font-size: 45px;
    color: #284d33;
}
/*Quotation marks end*/
.quoteFirst::after{
    font-size:45px;
    color:#284d33;
    content:'"';
}
/*Employee name*/
.quoteSecond {
    color: #3e784f;
    font-size: 30px;
}
/*Image of employee*/
.employee {
    display:flex;
    width:100%;
}

/* Reasons Section */
.reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f1eb;
    width: 100%;
    gap: 2rem;
}
.advantage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:2rem;
    width: 100%;
}
.advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width:100%;
    gap: .5rem;
}
/*Phosopher Icons*/
.ph.ph-coffee-bean{
    font-size: 5rem;
    color:rgb(129, 62, 62);
    width:100%;
    display:flex;
    justify-content:center;
}
.ph.ph-coffee{
    font-size:5rem;
    color:rgb(129, 62, 62);
    width:100%;
    display:flex;
    justify-content:center;
}
.ph.ph-cheers{
    font-size:5rem;
    color:rgb(129, 62, 62);
    width:100%;
    display:flex;
    justify-content:center;
}
.ph.ph-cow{
    font-size:5rem;
    color:rgb(129, 62, 62);
    display:flex;
    justify-content:center;
}
/*Our Advantages*/
h1{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #284d33;
}
/*Labels*/
h3{
    font-size: 50px;
    display: flex;
    text-align:center;
    justify-content:center;
    align-items: center;
    width:100%;
    color: #284d33;
}
/*Descriptions*/
p{
    font-size: 30px;
    text-align: center;
    color: #3e784f;
}

/* Best Sellers Section */
.best-sellers{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width:100%;
    justify-content: center;
    background-color:#f5f1eb;
    gap: 1rem;
    padding-top:20rem;
    padding-bottom:20rem;
}
.sellers-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.seller{
    display: flex;
    flex-direction: column;
    width:100%;
}
/*Best Sellers*/
h2{
    font-size:50px;
    color:#284d33;
}
/*Coffee Item*/
h4{
    font-size: 50px;
    color: #284d33;
}
/*Coffee Description*/
c{
    font-size:40px;
    color:black;
}

/* Locations Section */
.locations{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f5f1eb;
    width:100%;
}
/*Both Boxes*/
.left, .right{
    border-style: solid;
    border-color: #284d33;
    width:100%;
    display:flex;
    flex-direction:column;
}

.cube{
    display:flex;
    width:100%;
}

.cubeBlack{
    display:flex;
    width:100%;
}
/*Directions Button*/
.bottomLoc{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.bottomLoc a {
    display: flex;
    background-color: #284d33;
    color: white;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    text-decoration: none;
    border-style: solid;
}
.bottomLoc a:hover {
    background-color: white;
    color: #284d33;
}

.bottomHour{
    display:flex;
    flex-direction:column;
}
.bottomAdd{
    display:flex;
    flex-direction: column;
}
/*Address and Hours*/
p4{
    font-weight:bold;
    font-size:20px;
}
/*Address and hours details*/
p5{
    font-size:15px;
}
/* Footer Section */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-style: solid;
}
/*Key Labels*/
.shop{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.shop a {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.shop a:hover {
    color: #284d33;
}
/*Instagram and Facebook*/
.social a {
    font-size: 60px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.social a:hover {
    color: #284d33;
}
.visit{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

/*Phone*/
@media screen and (max-width:767px){
    .logo img{
        height:100px;
    }
    .order-now{
        font-size:30px;
    }
    .header{
        height:100px;
    }
    .banner{
        flex-direction:column;
    }
    .text-section h5{
        font-size:30px
    }
    .text-section h1{
        font-size:30px;
    }
    .text-section .directions{
        font-size:30px;
    }
    .ourStory{
        justify-content: center;
        flex-direction:column;
    }
    .story h1{
        font-size:20px;
    }
    .story p{
        font-size:15px;
    }
    .story-container{
        width:50%;
        padding-bottom:20px;
    }
    .employee{
        display:none;
    }
    .quoteFirst{
        font-size:25px;
    }
    .quoteFirst::before{
        font-size:25px;
    }
    .quoteFirst::after{
        font-size:25px;
    }
    .quoteSecond{
        font-size:20px;
    }
    .mainQuote{
        flex-direction:column;
        font-size:30px;
        height:fit-content;
    }
    h1{
        font-size:25px;
    }
    h3{
        font-size:20px;
    }
    .advantage-container{
        font-size:20px;
        flex-direction: column;
    }
    .advantage{
        height:200px;
    }
    .ph.ph-cheers{
        font-size: 3rem;
    }
    .ph.ph-cow{
        font-size:3rem;
    }
    .ph.ph-coffee{
        font-size: 3rem;
    }
    .ph.ph-coffee-bean{
        font-size: 3rem;
    }
    p{
        font-size:15px;
    }
    h4{
        font-size:20px;
    }
    h2{
        font-size:25px;
    }
    c{
        font-size:15px;
    }
    .best-sellers{
        height:fit-content;
        padding-top:2rem;
        padding-bottom:2rem;

    }
    .locations{
        flex-direction:column;
    }
    .footer{
        display:none;
    }
}

/*Ipad*/
@media screen and (min-width:768px) and (max-width:991px){
    .logo img{
        height:100px;
    }
    .order-now{
        font-size:30px;
    }
    .header{
        height:100px;
    }
    .banner{
        flex-direction:column;
    }
    .text-section h5{
        font-size:40px
    }
    .text-section h1{
        font-size:40px;
    }
    .text-section .directions{
        font-size:40px;
    }
    .ourStory{
        justify-content: center;
        flex-direction:column;
    }
    .story h1{
        font-size:30px;
    }
    .story p{
        font-size:20px;
    }
    .story-container{
        width:50%;
        padding-bottom:30px;
    }
    .mainQuote{
        flex-direction:column;
        font-size:40px;
    }
    .quoteFirst{
        font-size:25px;
    }
    .quoteFirst::before{
        font-size:25px;
    }
    .quoteFirst::after{
        font-size:25px;
    }
    .quoteSecond{
        font-size:25px;
    }
    .advantage-container p{
        font-size:15px;
        flex-direction:column;
    }
    .advantage{
        gap:0;
        height:fit-content;
    }
    .reasons h1{
        font-size:30px;
    }
    .ph.ph-cheers{
        font-size: 3rem;
    }
    h3{
        font-size:15px;
    }
    .ph.ph-cow{
        font-size:3rem;
    }
    .ph.ph-coffee{
        font-size: 3rem;
    }
    .ph.ph-coffee-bean{
        font-size: 3rem;
    }
    p{
        font-size:15px;
    }
    h4{
        font-size:30px;
    }
    c{
        font-size:15px;
    }
    .best-sellers{
        height:fit-content;
        padding-top:5rem;
        padding-bottom:5rem;
    }
    .locations{
        flex-direction:column;
    }
    .footer{
        display:none;
    }
}
